.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.spinner:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #ffffff transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#addForm[data-step='initial'] {
  .__previewPicker {
    @apply flex;
  }
  .__previewDisplay {
    @apply hidden;
  }
  .__addUsername {
    @apply hidden;
  }
  .__addSubmit {
    @apply hidden;
  }
}

#addForm[data-step='sourceSelected'] {
  .__previewPicker {
    @apply hidden;
  }
  .__previewDisplay {
    @apply flex;
  }
  .__addUsername {
    @apply hidden;
  }
  .__addSubmit {
    @apply hidden;
  }
}
