extends /_includes/_layouts/core

block config
  - pageTitle = "Custom title"
  - pageDescription = "Custom description"
  //- see also: pageAuthor, pageImage, pageTwitter, pageUrl

block content
  .flrw
    for id in data.avatars
      .fln.w-25p
        +img(src="assets/portraits/${id}.jpg");

    
  p This is your website
